@import "tailwindcss";

@theme {
  --color-flow-bg: #050505;
  --color-flow-accent: #DC2626;
  --color-flow-text: #FFFFFF;
  --color-flow-sub: #A3A3A3;
  --color-flow-border: #1F2937;
}

body {
    background-color: var(--color-flow-bg);
    color: var(--color-flow-text);
}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .grayscale {
        filter: grayscale(1);
    }
    .grayscale-0 {
        filter: grayscale(0);
    }
}