---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import { getHeroMovie } from "../services/tmdb";

const movie = await getHeroMovie();

// console.log(movie);
---

<Layout title="Home">
	<Hero movie={movie} />

	<!-- Other content sections will go here -->
	<div class="max-w-[1920px] mx-auto px-4 sm:px-6 lg:px-16 py-12">
		<!-- We can add popular movies list here later -->
	</div>
</Layout>
